@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');
*{
  font-family: 'Inter', sans-serif;
}
.contribution-graph {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: Arial, sans-serif;
  height: 100vh;
  justify-content: center;
}

.graph {
  display: grid;
  grid-template-columns: repeat(51, 1fr); 
  grid-template-rows: repeat(7, 1fr); 
  gap: 2px; 
  max-width: 800px;
  width: 100%; 
}

.day {
  width: 15px;
  height: 15px; 
  background-color: rgba(37, 78, 119, 0.1);
  transition: background-color 0.3s ease-in-out;
}

.day:hover {
  box-sizing: border-box;
  border: rgba(0, 0, 0, 0.5) 1px solid;
}

.day:focus{
  border: rgba(255, 0, 0, 0.9) 1px solid;
}

.tooltip {
  position: absolute;
  text-align: center;
  background-color: #000000;
  color: #fff;
  border-radius: 3px;
  font-size: 12px;
  height: 42px;
  white-space: nowrap;
  z-index: 99; 
}

.tooltip::before {
  content: "";
  position: absolute;
  border-width: 6px;
  border-style: solid;
  border-color: transparent transparent rgba(0, 0, 0) ;
  left: 50%;
  bottom: -25%;
  transform: translateX(-50%) rotate(180deg);
}

.tooltip-contributions{
  color: #FFFFFF;
  font-weight: 400;
  font-size: 12px;
  line-height: 14.52px;
  display: block;
  padding-top: 6px;

}
.tooltip-date{
  color: #7C7C7C;
  font-weight: 400;
  font-size: 10px;
  line-height: 12.1px;
  padding-right: 9px;
  padding-left: 9px;
  padding-bottom: 6px;
}